html {
    box-sizing: border-box;
    font-size: 10px;
    background: black;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    margin: 0;
    text-align: center;
    font-family: 'Inconsolata', monospace;
  }
  
  .display__time-left {
    font-weight: 100;
    font-size: 20rem;
    margin: 0;
    color: white;
    text-shadow: 4px 4px 0 rgba(0,0,0,0.05);
  }
  
  .timer {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  
  .timer__controls {
    display: flex;
  }
  
  .timer__controls > * {
    flex: 1;
  }
  
  .timer__controls form {
    flex: 1;
    display: flex;
  }
  
  .timer__controls input {
    flex: 1;
    border: 0;
    padding: 2rem;
  }
  
  .timer__button {
    background: none;
    /* border-width: 2px; */
    border-color: white;
    border-bottom: 2px solid white;
    cursor: pointer;
    color: black;
    font-size: 2rem;
    text-transform: uppercase;
    background: yellow;

    padding: 1rem;
    font-family: 'Inconsolata', monospace;
  }
  
  .timer__button:hover,
  .timer__button:focus {
    background: rgba(0,0,0,0.2);
    outline: 0;
    color: white;
    border-bottom: 0px;
  }
  
  .display {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .attribution {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    color: white;
  }
  .attribution a {
    color: yellow;
  }
  
  .display__end-time {
    font-size: 4rem;
    color: white;
  }
  